* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

button,
button:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-family: Poppins;
}

body {
  font-family: ChocolateBox;
  font-size: 14px;

  .container {
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
  }

  h2 {
    font-family: 'Poppins';
    font-weight: 400;
    color: $yellow;
  }
}