@import '../common/colors.scss';
@import '../common/fonts.scss';
@import '../common/text.scss';

.review {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url('../assets/img/design/review-bg.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0 120px;
  position: relative;
  color: $white;
  font-family: 'Poppins';

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 187;
  }

  &__title {
    font-family: 'ChocolateBox';
    color: $white;
    @include text-config(48px, 28px, 58px);

    span {
      color: $yellow;
    }
  }
  
  &__slider {
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &__client-photo {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 5px solid $white;
        overflow: hidden;
        margin-bottom: 30px;
      }

      &__photo {
        width: 100%;
        margin-top: -15%;
      }

      &__client-name {
        @include text-config(24px, 170%, 30px);
      }

      &__client-review {
        text-align: center;
        width: 1000px;
        @include text-config(16px, 28px, 20px);
      }
    }
  }

  .slider {
    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        width: 20px;
        height: 20px;
        background-color: $white;
        border-radius: 50%;
        margin: 0 5px;
        transition: background-color .3s;
        cursor: pointer;

        &_active {
          background-color: $yellow;
        }
      }
    }
  }

}