@import '../common/colors.scss';
@import '../common/text.scss';

.review {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url('../assets/img/design/review-bg.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0 120px;
  position: relative;
  color: $white;
  font-family: 'Poppins';

  @media screen and (max-width: $extra-large) {
    padding: 100px 0 90px;
  }

  @media screen and (max-width: $medium) {
    padding: 80px 0 60px;
  }

  @media screen and (max-width: $small) {
    padding: 50px 0 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: 'ChocolateBox';
    color: $white;
    @include text-config(48px, 28px, 58px);

    @media screen and (max-width: $medium) {
      font-size: 40px;
      margin-bottom: 40px;
    }

    @media screen and (max-width: $small) {
      font-size: 28px;
      margin-bottom: 20px;
    }

    span {
      color: $yellow;
    }
  }
  
  &__slider {
    width: 100%;
    overflow: hidden;

    &-content {
      display: flex;
      transition: transform 1s ease-in-out;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      flex-shrink: 0;
      
      &__client-photo {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 5px solid $white;
        overflow: hidden;
        margin-bottom: 30px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .1);

        @media screen and (max-width: $small) {
          margin-bottom: 20px;
          width: 120px;
          height: 120px;
        }
      }

      &__photo {
        width: 100%;
        margin-top: -15%;
      }

      &__client-name {
        @include text-config(24px, 170%, 30px);

        @media screen and (max-width: $extra-large) {
          margin-bottom: 20px;
        }

        @media screen and (max-width: $medium) {
          margin-bottom: 15px;
        }
      }

      &__client-review {
        text-align: center;
        width: 1000px;
        @include text-config(16px, 28px, 20px);

        @media screen and (max-width: $extra-large) {
          width: 80%;
        }

        @media screen and (max-width: $medium) {
            width: 90%;
        }

        @media screen and (max-width: $small) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .slider {
    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        width: 20px;
        height: 20px;
        background-color: $white;
        border-radius: 50%;
        margin: 0 5px;
        transition: background-color .3s;
        cursor: pointer;

      }

      .active {
        background-color: $yellow;
      }
    }
  }

}