@import '../common/colors.scss';
@import '../common/text.scss';

.contact-us {
  padding: 0 0 150px;
  background-color: $black;
  color: $white;
  font-family: 'Poppins';

  @media screen and (max-width: $extra-large) {
    padding-top: 80px;
  }

  @media screen and (max-width: $large) {
    padding: 80px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: 'ChocolateBox';
    color: $white;
    @include text-config(48px, 28px, 100px);

    @media screen and (max-width: $large) {
      font-size: 36px;
      margin-bottom: 50px;
    }

    @media screen and (max-width: $small) {
      font-size: 28px;
    }

    span {
      color: $yellow;
    }
  }

  &__content {
    display: flex;
    width: 100%;

    @media screen and (max-width: $extra-large) {
      width: 95%;
    }

    @media screen and (max-width: $large) {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  .details {
    width: 470px;
    margin-right: 35px;

    @media screen and (max-width: $extra-large) {
      width: 420px;
    }

    @media screen and (max-width: $large) {
      margin-right: 0;
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__info {
      font-weight: 300;
      @include text-config(18px, 200%, 77px);

      @media screen and (max-width: $extra-large) {
        font-size: 16px;
        margin-bottom: 40px;
      }

      @media screen and (max-width: $large) {
        text-align: center;
      }
    }

    &__contacts {
      margin-bottom: 60px;

      @media screen and (max-width: $extra-large) {
        margin-bottom: 40px;
      }

      @media screen and (max-width: $large) {
        margin-bottom: 20px;
      }

      &-list-item {
        display: flex;
        align-items: center;
        font-weight: 300;
        @include text-config(18px, 170%, 42px);

        @media screen and (max-width: $extra-large) {
          margin-bottom: 24px;
        }

        @media screen and (max-width: $small) {
          font-size: 14px;
        }

        span {
          margin-left: 30px;

          @media screen and (max-width: $small) {
            margin-left: 15px;
          }
        }
      }
    }

    .socials {
      display: flex;
      align-items: center;

      @media screen and (max-width: $small) {
        justify-content: space-evenly;
        width: 100%;
      }

      &__item {
        margin-right: 56px;

        @media screen and (max-width: $small) {
          margin-right: 0;
        }

        &:hover{
          animation: swing .6s;
        }
      }

      &__link {
        font-size: 48px;
        color: $yellow;
        cursor: pointer;

        @media screen and (max-width: $extra-large) {
          font-size: 36px;
        }

        @media screen and (max-width: $small) {
          font-size: 24px;
        }      
      }
    }
  }

  &__form {
    flex-grow: 1;
  }

  &__form-field {
    margin-bottom: 30px;
    position: relative;
    border: 1px solid $white;
    height: 65px;
    padding: 20px 25px;

    @media screen and (max-width: $extra-large) {
      height: 60px;
      padding: 15px 25px;
    }

    @media screen and (max-width: $small) {
      height: 50px;
      padding: 15px;
    }

    label {
      position: absolute;
      left: 40px;
      background-color: $black;
      top: -20px;
      padding: 0 7px;
      cursor: pointer;
      @include text-config(24px, 36px, 0);

      @media screen and (max-width: $extra-large) {
        font-size: 20px;
      }

      @media screen and (max-width: $small) {
        font-size: 14px;
        left: 20px;
      }
    }
  }
  
  &__form-input, &__form-input:focus {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: $white;
    font-weight: 300;
    font-family: 'Poppins';
    
    @include text-config(18px, 24px, 0);

    @media screen and (max-width: $small) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .form-textarea {
    height: 133px;

    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      color: $white;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    background-color: $yellow;
    color: $dark-gray;
    font-family: 'Poppins';
    font-weight: 500;
    border: 1px solid $yellow;
    outline: none;
    transition: background-color .3s, color .3s;
    cursor: pointer;
    @include text-config(36px, 170%, 0);

    @media screen and (max-width: $extra-large) {
      width: 160px;
      height: 60px;
      font-size: 30px;
    }
    
    @media screen and (max-width: $large) {
      margin: 0 auto;
      width: 200px;
    }

    @media screen and (max-width: $small) {
      font-size: 24px;
      width: 160px;
      height: 50px;
    }

    &:hover {
      color: $yellow;
      background-color: $black;
    }
  }
}