@import '../common/colors.scss';
@import '../common/text.scss';

.featured {
  padding: 0 0 150px;
  color: $white;
  font-family: 'Poppins';
  background-color: $black;

  @media screen and (max-width: $extra-large) {
    padding: 40px 0 120px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: 'ChocolateBox';
    color: $white;
    @include text-config(48px, 28px, 58px);

    @media screen and (max-width: $large) {
      font-size: 36px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: $medium) {
      font-size: 30px;
    }

    @media screen and (max-width: $small) {
      font-size: 24px;
    }

    span {
      color: $yellow;
    }
  }
  
  &__slider {
    position: relative;
    

    .item {
      display: none;
      min-height: 410px;
      position: relative;

      &.active {
        display: flex;
        align-items: stretch;
        animation: fadeIn .5s;
      }

      @media screen and (max-width: $large) {
        text-align: center;
        min-height: 0;
        width: 90%;
        margin: 0 auto;
      }

      &__image {
        width: 370px;
        object-fit: cover;
        
        @media screen and (max-width: $large) {
          position: absolute;
          opacity: .1;
          height: 100%;
          width: 100%;
        }
      }

      &__info {
        background-color: $dark-gray;
        padding: 60px 260px 60px 30px;

        @media screen and (max-width: 1500px) {
          padding-right: 150px;
        }

        @media screen and (max-width: $extra-large) {
          padding: 40px 100px 30px 15px;
        }

        @media screen and (max-width: $large) {
          padding: 40px 80px;
        }

        @media screen and (max-width: $medium) {
          padding: 40px 40px;
        }

      }

      &__title {
        @include text-config(24px, 36px, 10px);
      }

      &__date, &__description {
        @include text-config(18px, 27px, 44px);
        font-weight: 300;

        @media screen and (max-width: $medium) {
          font-size: 14px;
          word-spacing: 4px;
        }
      }

      &__read-more {
        font-family: 'ChocolateBox';
        @include text-config(18px, 10px, 0);
        color: $yellow;
        background: none;
        border: none;
        position: relative;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $yellow;
          bottom: -4px;
          transition: opacity .3s;
        }

        &:hover::before {
          opacity: 0;
        }
      }
    }

    .prev, .next {
      width: 65px;
      height: 65px;
      border: 1.5px solid $yellow;
      border-radius: 50%;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      @media screen and (max-width: 1500px) {
        transform: none;
      }

      @media screen and (max-width: 1350px) {
        top: 105%;
      }

      @media screen and (max-width: $large) {
        width: 50px;
        height: 50px;
      }

      i {
        color: $yellow;
        font-size: 34px;

        @media screen and (max-width: $large) {
          font-size: 28px;
        }
      }
    }

    .prev {
      left: -130px;
      
      @media screen and (max-width: 1500px) {
        left: -70px;
      }

      @media screen and (max-width: 1350px) {
        left: 50%;
        transform: translateX(-110%);
      }
    }
    .next {
      right: -130px;

      @media screen and (max-width: 1500px) {
        right: -70px;
      }
      
      @media screen and (max-width: 1350px) {
        right: 50%;
        transform: translateX(110%);
      }    
    
    }
  }
}