@import '../common/colors.scss';
@import '../common/text.scss';

.futured {
  background-color: $black;
  padding: 150px 0;
  color: $white;

  @media screen and (max-width: $large) {
    padding: 80px 0;
    overflow-x: hidden;
  }

  @media screen and (max-width: $small) {
    padding: 50px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: 'ChocolateBox';
    color: $white;
    text-align: center;
    @include text-config(48px, 28px, 90px);

    @media screen and (max-width: $medium) {
      font-size: 36px;
      margin-bottom: 50px;
    }

    @media screen and (max-width: $medium) {
      font-size: 24px;
    }
    
    span {
      color: $yellow;
    }
  }

  &__filters {
    width: 420px;
    margin-bottom: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: $large) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: $small) {
      width: 90%;
    }


    .magic-line {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $white;

      &__indicator {
        height: 100%;
        background-color: $yellow;
        transition: transform .3s ease-in;
      }
    }

    &-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $small) {
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
    }

    &-item {
      font-family: Poppins;
      color: $white;
      font-weight: 400;
      cursor: pointer;
      transition: color .3s;
      flex-grow: 1;
      text-align: center;
      @include text-config(24px, 36px, 0);

      @media screen and (max-width: $small) {
        font-size: 18px;
        line-height: 24px;
      }
      
      &:hover {
        color: $yellow;
      }
    }

    .active {
      color: $yellow;
      transition: color .3s;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    
    @media screen and (max-width: $medium) {
      justify-content: space-between;
    }

    @media screen and (max-width: $medium) {
      justify-content: center;
    }
  }

  &__item {
    max-width: 23%;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: $extra-large) {
      max-width: 30%;
      flex-shrink: 0;
      flex-basis: 30%;
    }

    @media screen and (max-width: $large) {
      max-width: 50%;
      flex-basis: 40%;
      margin-bottom: 80px;
    }

    @media screen and (max-width: $medium) {
      flex-basis: 48%;
      margin-bottom: 50px;
    }

    @media screen and (max-width: $small) {
      flex-basis: 80%;
      max-width: 100%;
    }

    &-image {
      height: 350px;
      margin-bottom: 18px;
    }

    &-title {
      align-self: flex-start;
      padding-left: 40px;
      @include text-config(24px, 14px, 10px);

      @media screen and (max-width: $large) {
        align-self: center;
        padding-left: 0;
      }

      @media screen and (max-width: $medium) {
        font-size: 20px;
      }
    }
    
    &-price {
      align-self: flex-start;
      padding-left: 40px;
      font-family: 'Poppins';
      font-weight: 300;
      display: flex;
      align-items: center;
      color: $yellow;
      @include text-config(24px, 36px, 0);

      @media screen and (max-width: $large) {
        align-self: center;
        padding-left: 0;
      }

      @media screen and (max-width: $medium) {
        font-size: 20px;
        line-height: 28px;
      }

      @media screen and (max-width: $small) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &-discount {
      @include text-config(16px, 24px, 0);
      text-decoration: line-through;
      margin-right: 4px;
    }

    &-label {
      position: absolute;
      top: 20px;
      left: 0;
      width: 80px;
      height: 40px;
      background-color: $yellow;
      color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Poppins';
      font-weight: 500;
      @include text-config(14px, 21px,   0);
    }
  }


  &__more {
    color: $yellow;
    font-family: 'ChocolateBox';
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    padding-bottom: 4px;
    margin: 0 30%;

    @include text-config(18px, 10px, 0);

    &::before {
      content: '';
      opacity: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $yellow;
      transition: opacity .3s;
    }

    &:hover::before {
      opacity: 0;
    }
  }
}