@import '../common/colors.scss';
@import '../common/text.scss';

.greet {
  background-color: $black;
  padding-top: 190px;
  color: $white;
  font-weight: 300;

  @media screen and (max-width: $extra-large) {
    padding-top: 80px;
  }

  @media screen and (max-width: $large) {
    padding-top: 40px;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__subtitle {
    font-weight: 400;
    @include text-config(24px, 14px, 32px);

    @media screen and (max-width: $medium) {
      font-size: 20px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: $small) {
      font-size: 16px;
      margin-bottom: 6px;
    }
  }

  &__title {
    font-weight: 400;
    @include text-config(96px, 56px, 24px);

    @media screen and (max-width: $large) {
      font-size: 80px;
    }

    @media screen and (max-width: $medium) {
      font-size: 60px;
    }

    @media screen and (max-width: $small) {
      font-size: 36px;
    }

    span {
      color: $yellow;
    }
  }

  &__description {
    font-family: Poppins;
    max-width: 750px;
    @include text-config(16px, 24px, 35px);
    
    @media screen and (max-width: $medium) {
      font-size: 14px;
    }
    @media screen and (max-width: $small) {
      font-size: 12px;
    }
  }

  &__read-more {
    color: $white;
    font-family: ChocolateBox;
    padding-bottom: 8px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 9px;
    letter-spacing: 0em;
    border-bottom: 1px solid transparent;
    transition: color .3s, border-bottom-color .3s;

    &:hover {
      color: $yellow;
      border-bottom-color: $yellow;
      cursor: pointer;
    }
    
    @media screen and (max-width: $small) {
      font-size: 14px;
    }
  }

  &__wine-img {
    width: 470px;

    @media screen and (max-width: $medium) {
      width: 60vw;
    }
  }
}