@import '../common/colors.scss';
@import '../common/text.scss';

.subscribe {
  padding: 57px 0 62px;
  background-color: $dark-gray;
  color: $white;
  font-family: 'Poppins';

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'ChocolateBox';
    color: $white;
    @include text-config(48px, 28px, 24px);

    @media screen and (max-width: $extra-large) {
      font-size: 40px;
      line-height: 20px;
    }

    @media screen and (max-width: $large) {
      font-size: 36px;
      line-height: 18px;
    }

    @media screen and (max-width: $small) {
      margin-bottom: 20px;
    }

    span {
      color: $yellow;
    }
  }
  
  &__description {
    font-weight: 300;
    text-align: center;
    @include text-config(18px, 27px, 70px);

    @media screen and (max-width: $extra-large) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: $large) {
      font-size: 16px;
      line-height: 20px;
    }

    @media screen and (max-width: $small) {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

  &__form {
    display: flex;
    width: 570px;
    height: 65px;

    @media screen and (max-width: $medium) {
      width: 90%;
      height: 50px;
    }

    @media screen and (max-width: $small) {
      flex-direction: column;
      height: auto;
    }
  }

  &__email-input {
    padding: 0 34px;
    flex-grow: 1;
    color: $white;
    outline: none;
    border: none;
    background-color: $black;
    font-weight: 300;
    font-family: 'Poppins';
    color: $white;

    @include text-config(18px, 27px, 0);

    @media screen and (max-width: $small) {
      height: 50px;
    }
    
    &::placeholder {
      color: $white;
      // text-align: center;
    }
  }
  
  &__confirm-button {
    width: 128px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    border: 1px solid $yellow;
    transition: background-color .3s, color .3s;
    cursor: pointer;

    @include text-config(18px, 27px, 0);

    @media screen and (max-width: $small) {
      margin: 0 auto;
      margin-top: 10px;
      width: auto;
      padding: 10px 30px;
    }

    &:hover span {
      animation: swing .5s;
    }
  }
}